.box {
    height: 90vh;
    margin: 5vh 3vw;
    padding: 2rem;
    background: linear-gradient(135deg, hsla(199, 82%, 89%, 1) 0%, hsla(108, 62%, 87%, 1) 100%);
    border-radius: $border-radius-lg;
}